.masonry-container {
    margin: 1.5em auto;
    column-gap: 1em;
    column-count: 4;
    max-width: 1023px;
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry-container {
        column-count: 3;
    }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry-container {
        column-count: 2;
    }
}

@media only screen and (max-width: 539px) {
    .masonry-container {
        column-count: 1;
    }
}